{% load static %}
{% load i18n %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ammar">
    <meta name="keyword" content="Dashboard, Admin">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <title> {% blocktrans %}Your Apps{% endblocktrans %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!--    <link rel="icon" href="{% static session.Icon %}?v=2" type="image/png"  sizes="16x16" />-->
    <!--right slidebar-->
    <link href="{% static 'css/slidebars.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <script src="{%  static 'sweetalert/sweetalert.min.js' %}"></script>
    <!--dynamic table-->
    <link href="{% static 'assets/advanced-datatable/media/css/demo_page.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/advanced-datatable/media/css/demo_table.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/data-tables/DT_bootstrap.css' %}" />

</head>


<body>

<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        {% include 'header_menu.html' %}
    </header>
    <!--header end-->
    <!--sidebar start-->
    {% include 'side_menu.html' %}

    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <section class="card">
                <header class="card-header">
                    Details
                </header>
                <div class="adv-table p-2">
                <input id="submit-hidden" type="submit" style="display: none" />
                <div class="form-row mb-2">
                    <div class="col-md-12">
                        <span style="default:none"><input type="hidden" name="csrfmiddlewaretoken" value="9hxjsLnjpJSVOhQlFuRADNqw7FNRAryK9d7hrpfyUjLOV0q993298EfkXmZJN7di"></span>
                        <button {% if not Data %} disabled {% endif %} type="button" class="btn btn-shadow btn-default btn-sm action-btn mb-2" title="Update App" onclick="show_update_form();"><span class="fa fa-edit"></span>{% blocktrans %} Update App{% endblocktrans %}</button>
                        <button  {% if not Data %} disabled {% endif %} type="button" onclick="DeleteApp()" id="delte-button" title="Delete App" class="btn btn-shadow btn-default btn-sm  mb-2 action-btn" ><span class="fa fa-trash-o"></span>{% blocktrans %} Delete App{% endblocktrans %}</button>                       
                        <button  {% if not Data %} disabled {% endif %} type="button" onclick="CancelSubscription()" id="delte-button" title="Cancel Subscription" class="btn btn-shadow btn-default btn-sm  mb-2 action-btn" ><span class="fa fa-money"></span>{% blocktrans %} Cancel Subscription{% endblocktrans %}</button>                       

                    </div>
                </div>
                    <div class="table-responsive  p-2">

                        <div class="adv-table">
                            {% if not Data %}
                            <div id="container-flip" >
                                <div>{% blocktrans %}No Apps Yet{% endblocktrans %}</div>
                            </div>
                            {% else %}
                            <table class=" display table table-bordered table-striped " id="dynamic-table">
                                <thead >
                                <tr>
                                    <th></th>
                                    <th>App Name</th>
                                    <th>Description</th>
                                    <th>Subscription Name</th>
                                    <th>Subscription Price</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                    <th>Subscription Date</th>
                                    <th>Subscription End Date</th>

                                </tr>
                                </thead>
                                <tbody id="tablebody">
                                {% for records in Data %}
                                <tr>
                                    <td style="width: 10px"><input type="radio" required  name="select"  class="selected_id" value="{{ records.0 }}" ></td>
                                    <td class="">{{ records.1 }}</td>
                                    <td class="" onclick="show_detail('{{ records.0 }}');" style="color:green" title="Click to read all detail.">{{ records.2 }}</td>
                                    <td class="">{{ records.3 }}</td>
                                    <td class="">${{ records.4 }}</td>
                                    <td class="">{{ records.5 }}</td>
                                    <td class="">{{ records.6 }}</td>
                                    <td class="">{{ records.7 }}</td>
                                    <td class="">{{ records.8 }}</td>

                                </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            {% endif %}



                        </div>
                    </div>
                </div>

            </section>

            <!-- page end-->
        </section>
    </section>
    <!--main content end-->

<div class="modal " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div  class="modal-body">
                <p id="mymodal_div"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<form id="update-form" name="update-formName">
        {% csrf_token %}     
        <input id="submit-hidden-update" type="submit" style="display: none" />

        <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModalUpdate" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Update APP?</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-row">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12" >
                            <label for="basic-url1">App Name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa  fa-list "></i></span>
                                </div>
                                <input placeholder="App Name" required type="text" id="app_id" name="app_name" class="form-control"  aria-describedby="basic-addon3">
                            </div>
                        </div>
                         <div class="input-group mb-3 ">
                            <div class="input-group-prepend ">
                                <span class="input-group-text" id="basic-addon3"><i class="fa  fa-archive"></i></span>
                            </div>

                            <select required name="Subscription" id="SubscriptionId" class="degree-selected form-control">
                                <option value="" hidden>{% blocktrans %}Update Subscription{% endblocktrans %}</option>
                                <option value= "Free">Free ($0)</option>
                                <option value= "Standard">Standard ($10)</option>
                                <option value= "Pro">Pro ($25)</option>

                            </select>
                        </div>
                        <div class="col-md-12 col-sm-12" >
                            <label for="basic-url1">App Description </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa  fa-list "></i></span>
                                </div>
                                <textarea placeholder="Enter description of your app here..." id="description_id" name="description" class="form-control"  rows="8">{{ data.0.3 }}</textarea>
                            </div>
                        </div>
                    </div>
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-sm btn-danger-new " type="button">Cancel</button>
                          <button class="btn btn-sm btn-danger-new " type="button" onclick="SaveUpdatedApp()";>Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
    </form>
    <!-- Right Slidebar start -->
    <!-- Right Slidebar end -->
    {% include 'Footer.html' %}

    <!--footer end-->
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script src="{% static 'js/custom_js.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
<!--custom switch-->
<script src="{% static 'js/bootstrap-switch.js' %}"></script>
<!--custom tagsinput-->
<script src="{% static 'js/jquery.tagsinput.js' %}"></script>
<!--custom checkbox & radio-->
<script src="{% static 'js/advanced-form-components.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap-inputmask/bootstrap-inputmask.min.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}" ></script>

<!--right slidebar-->
<script src="{% static 'js/slidebars.min.js' %}"></script>
<!--common script for all pages-->
<script src="{% static 'js/common-scripts.js' %}"></script>

<!--script for this page-->
<script src="{% static 'js/form-component.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'assets/advanced-datatable/media/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/data-tables/DT_bootstrap.js' %}"></script>
<script src="{% static 'js/dynamic_table_init.js' %}"></script>
<script src="{%  static 'sweetalert/sweetalert.min.js' %}"></script>

<script>
</script>
</body>
</html>
