{% load static  %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ammar">
    <meta name="keyword" content="Dashboard, Admin">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
        <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
</head>
<body class="login-body">
<div class="container" id="loginForm">
    <form class="form-signin" id="form-action_login" name="file-upload-form" method="post" action="{% url 'login_authentication' %}">
        <input id="submit-hidden_login" type="submit" style="display: none" />
        {% csrf_token %}
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
            <input value="{{ email }}" type="email" id="emailId" name="email" required class="form-control mb-2" placeholder="Email" autofocus>
            <input value="{{ password }}" type="password" id="passwordId" name="password" required class="form-control" placeholder="Password">
            <button class="btn btn-lg btn-danger-new btn-block" type="button" onclick="Login()">Sign in</button>
            <div class="mt-2">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>
                    <div class="registration">
                Don't have an account yet?
                <a class="" href={% url 'Signup' %}>
                    Create an account
                </a>
            </div>
            </div>            
            {% if Info %}
                <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                  <strong>{{Info}}</strong>
                </div>
                {% endif %}
        </div>  
    </form>
    
    <form id="forgot-form" name="file-forgot-form">
            {% csrf_token %}
            
    <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Forgot Password ?</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="email" required id="email_id_AuthenticationProcess" name="forgot_email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                            <input id="submit-hidden2" type="submit" style="display: none" />

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-sm btn-danger-new " type="button">Cancel</button>
                          <button class="btn btn-sm btn-danger-new " type="button" onclick="Forgot_Password()">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
    </form>

     <form id="form-action" name="file-forgot-forme">
            {% csrf_token %}
            
    <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Forgot Password ?</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>Enter Authentication Code below sent to your email to reset your password.</p>
                             <input value="" type="text" name="code" id="code_id" required class="form-control mb-2" placeholder="Enter code sent to your email." autofocus>
                            <input value="Forget" type="hidden" name="AuthType" id="AuthType_id"  required class="form-control mb-2" placeholder="Enter code sent to your email." autofocus>
                            <input id="submit-hidden" type="submit" style="display: none" />
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-sm btn-danger-new " type="button">Cancel</button>
                          <button class="btn btn-sm btn-danger-new " type="button" onclick="AuthenticationProcess()";>Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
    </form>
    <form id="password-form" name="password-form2">
        {% csrf_token %}     
        <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Forgot Password ?</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>Enter your new password.</p>
                            <input value="" type="password" name="password" id="update_password_id" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,12}$" title="8-12 characters, at least one letter,number & special characters"  class="form-control" placeholder="Type Your New Password">
                             <input id="submit-hidden_password" type="submit" style="display: none" />
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-sm btn-danger-new " type="button">Cancel</button>
                          <button class="btn btn-sm btn-danger-new " type="button" onclick="UpdatePassword()";>Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
    </form>
</div>

<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{%  static 'sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/custom_js.js' %}"></script>

</body>
</html>
