<div id="sidebar"  class="nav-collapse super_admin_side_menu">
    <ul class="superadmin sidebar-menu" id="nav-accordion">

        <li>
            <a class="" href="{% url 'YourApps' %}">
                <i class="fa fa-dashboard"></i>
                <span>Your Apps</span>
            </a>
        </li>
       <li>
            <a class="" href="{% url 'create_app' %}">
                <i class="fa fa-dashboard"></i>
                <span>Create New App</span>
            </a>
        </li>
        
        <li>
            <a class="" onclick="LogOut()">
                <i class="fa fa-user"></i>
                <span title="Log Out"> Log Out</span>
            </a>
        </li>

    </ul>
</div>